
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/AdminPanel/Views/Shared/_AdminLayout.cshtml";
}

@model Slider
<form method="post" asp-area="AdminPanel" asp-controller="Slider" asp-action="Edit" enctype="multipart/form-data">
    <img src="~/img/@Model.Image" alt="" style="width:70px;height:70px;margin-left:270px; margin-top:10px;">
    <div class="container mt-5" style="width:700px;margin-left: 260px;background-color:white;">
        <div class="form-group">
            <label for="socialName">Enter Slider Image</label> <br />
            <input asp-for="Photo" type="file">
            </br>
            <span class="text-danger" asp-validation-for="Photo"></span>
            <span class="text-danger">@ViewBag.Message</span>
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Yarat</button>
        <a asp-area="AdminPanel" asp-controller="Slider" asp-action="Index" class="btn btn-danger">Back</a>
    </div>
</form>

