
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/AdminPanel/Views/Shared/_AdminLayout.cshtml";
}

@model BlogHeader
<form method="post" asp-area="AdminPanel" asp-controller="BlogHeader" asp-action="Edit" enctype="multipart/form-data">
    <div class="container mt-5" style="width:700px;margin-left: 260px;background-color:white;">
        <div class="form-group">
            <label for="Title">Enter Title</label> <br />
            <input asp-for="Title" type="text" class="form-control" placeholder="Trying write Title ..." style="border:1px solid black;padding-left: 10px;">
            <span class="text-danger" asp-validation-for="Title"></span>
            <label for="Description">Enter Description</label> <br />
            <input asp-for="Description" type="text" class="form-control" placeholder="Trying write Description ..." style="border:1px solid black;padding-left: 10px;">
            <span class="text-danger" asp-validation-for="Description"></span>
            <br /> <br />
            <span class="text-danger">@ViewBag.Message</span>
        </div>
        <button type="submit" class="btn btn-primary">Deyis</button>
        <a asp-area="AdminPanel" asp-controller="BlogHeader" asp-action="Index" class="btn btn-danger">Back</a>
    </div>
</form>

